{% extends 'base.html' %} {% block title %}custom_goal{% endblock %} {% block content %}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">目标定制</strong> / <small>custom_goal</small></div>
</div>
<div class="am-panel am-panel-default am-margin">
    <div class="am-panel-bd am-in">
        <form class="am-form" method="post" action="{{ url_for('op_add_res') }}" id="res_form">
            <div class="am-g am-margin-top">
                <strong>environment: <span id="res_environment">{{ pre_res_environment }}</span></strong>
            </div>
            <div class="am-g am-margin-top">
                <div class="am-u-sm-6">
                    <textarea class="" rows="12" id="doc-ta-1"></textarea>
                </div>
                <div class="am-u-sm-6">
                    实例：
                    <pre>{
    "goal":[
        {
            "name":"energy_saving","weight":"0.3","related_property":{"name":"power","weight":"1"}
        },
        {
            "name":"comfort","weight":"0.7","goal":[{"name":"visual_comfort","weight":"0.5","related_property":{"name":"brightness","weight":"1"}},{"name":"thermal_comfort","weight":"0.5","related_property":[{"name":"temperature","weight":"0.7"},{"name":"humidity","weight":"0.3"}]}]
        }
    ]
}
                    </pre>
                </div>
            </div>
        </form>
    </div>
</div>
<div class=" am-margin">
    <button type="submit" class="am-btn am-btn-primary am-btn-xs" onclick="add_res()">提交保存</button>
    <button type="submit" class="am-btn am-btn-primary am-btn-xs" onclick="jump_list(res_environment.innerText)">放弃保存</button>
</div>
{% endblock %}
