{% extends 'base.html' %} {% block title %}setting_main{% endblock %} {% block content %}
<div class="am-cf am-padding">
    <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">specify config</strong> / <small>set your configuration</small></div>
</div>

<div class="am-margin ">
    <button type="button" class="am-btn am-btn-primary am-btn-xs" onclick="location='environment_list?environment_name='+input_environment_name.value">new</button>
    <input type="text" class="am-input-sm" id="input_environment_name">
</div>
<script type="text/javascript">
    function choose_config(res_file,property_file,goal_file,software_file){
        var all_file_path="res_file="+res_file+"&property_file="+property_file+"&goal_file="+goal_file+"&software_file="+software_file;
        alert(all_file_path);
        var xmlhttp;
        if (window.XMLHttpRequest)
        {// code for IE7+, Firefox, Chrome, Opera, Safari
            xmlhttp=new XMLHttpRequest();
        }
        else
        {// code for IE6, IE5
            xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
        }
        xmlhttp.onreadystatechange=function()
        {
            if (xmlhttp.readyState==4 && xmlhttp.status==200)
            {
                alert(xmlhttp.responseText);
                window.location = '/runtime_main';
            }
        }
        var url="/use_config?"+all_file_path;
        xmlhttp.open("GET",url,true);
       //xmlhttp.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        xmlhttp.send();

    }
</script>
{% endblock %}
