{% extends 'base.html' %} {% block title %}setting_main{% endblock %} {% block content %}

<body>
    <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">{{ name_short }}</strong> / <small>{{ name_long }}</small></div>
    </div>
    {% if message %}
    <p class="am-alert-warning">{{ message }}</p>
    {% endif %}
    <form class="am-form am-form-horizontal" method="POST" >
        <div class="am-form-group">
            {{ form.username.label(for="doc-ipt",class="am-u-sm-2 am-form-label") }}
            <div class="am-u-sm-10">{{ form.username(type="text",id="doc-ipt",size="10") }}</div>
        </div>
        <div class="am-form-group">
            {{ form.psd.label(for="doc-ipt-psd",class="am-u-sm-2 am-form-label") }}
            <div class="am-u-sm-10">{{ form.psd(type="password",id="doc-ipt-psd",size="10") }}</div>
        </div>
        <div>
            <div class="am-u-sm-10 am-u-sm-offset-2">
                {{ form.submit(class="am-btn am-btn-default am-btn-sm") }}
            </div>
        </div>
    </form>
    
</body>

{% endblock %}

